.bg-color {
    background-color: #232b2b;
}

.borders {
    border-style: solid;
    border-width: 1px;
}

.row-margin-reduce {
    margin-bottom: 0px;
}

.top-bar-col {
    height: '54px';
}

.left-div-header-div {
    height: 23px;
    background-color: #777777;
    margin-bottom: 0px;
    margin-top: 0px;
}

.left-div-header-element {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 10px;
}

.left-div-link-table-element {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 430px;
    padding-left:10px;
    padding-right:10px;
}

.table-title {
    min-width:150px;
    color:#a9ebff;
    vertical-align: top;
    padding:0px;
    padding-left:10px;
}

.table-text {
    color:white;
    vertical-align: top;
    padding:0px;
}

.section-title {
    color: white;
    padding-left:10px;
}

.market-indicator-title {
    color: white;
    /*padding-left: 10px;*/
    font-size:18px;
}

.container {
    height: 100vh;
}

